
@import "styles/variables";

body {
  background-color: black;
  height: 100vh;
}

.App {
  text-align: center;
}

.regular-text {
  color: $baseColorLight2;
}

.red {
  color: red;
}

.hidden {
  visibility: hidden;
}

.viewable {
  visibility: visible;
}